.App {
  text-align: center;
  width: 100%;
  height: auto;
  background-color: #E8B4B8;
  font-family: Montserrat, monospace;
  font-size: 1.12em;

}

.App h1{
  letter-spacing: 15px;
  font-family: Roboto, cursive;
  text-decoration-line: underline;
}

input{
  width: 50%;
  padding: 5px;
  margin-right: 20px;
  border: 3px solid black;
  border-radius: 10px;
  font-family: Montserrat, monospace;
  font-size: 1.12em;
}

input:hover::placeholder{
  color: #8a2be2;
  cursor: grab;
  padding: 5px;
  word-spacing: 10px;
  text-transform: uppercase;
}

button{
  border: 2px solid black;
  border-radius: 10px;
  padding: 10px;
  font-weight: bolder;
  margin: 10px;
  font-family: Montserrat, monospace;
  font-size: 1.12em;
}


p{
  width: 50%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #A49393;
  font-size: 1.12em;
}
body{
  background-color: #67595E;
}